<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h2>회원가입페이지입니다..</h2>
  
  <form method="post" action="/user/signUpProcess" enctype="multipart/form-data" >
<input type="text" name="user_id" class="" maxlength="15" id="id" lang="en" placeholder="아이디를 입력해주세요.">
<input type="text" name="user_pw" class="" maxlength="15" id="pw" lang="en" placeholder="비밀번호 입력해주세요.">
<input type="submit" class="btn btn_join" value="가입">
</form>
</body>

</html>